<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/postst.css">
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<header class="p-3 text-bg-dark fixed-top back-gro-header">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <form action="/" method="get" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-2">
          <button type="submit" class="btn btn-link m-0 p-0">
            <img src="/images/blog.svg" width="40" height="32" alt="logo image">
            <button type="submit"class="btn btn-dark ms-2">Home</button>
        </button>
        </form>
        <div class="text-end d-flex">
        <form action="/login" method="POST">
          <button type="submit" class="btn btn-outline-light me-2">Login</button>
        </form>
          <form action="/siginup" method="POST">
          <button type="submit" class="btn btn-warning">Sign-up</button>
          </form>
        </div>
      </div>
  </header>