<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/postst.css">
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<header class="p-3 pe-0 ps-0 text-bg-dark fixed-top back-gro-header">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <form action="/home-after-login" method="get">
            <button type="submit" class="btn btn-link">
              <img src="/images/blog.svg" width="40" height="32" alt="logo image">
            </button>
        </form>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li>
                <form action="/home-after-login" method="get">
                <button type="submit"class="btn btn-dark">Home</button>
                </form>
            </li>
            <li>
                <form action="/post-p" method="get">
                    <button type="submit" class="btn btn-dark">Create Post</button>
                </form>
            </li>
        </ul>
        <form action="/" method="get" class="justify-content-end me-2">
            <button type="submit"class="btn btn-dark">LogOut</button>
        </form>
    </div>
  </header>