<%- include("partials/header-B-Login.ejs") %>

<body class="home-body-color">

     <div class="container-fluid p-5 mt-5">
        <div class=" row d-flex flex-column align-items-center  ">
            <div class="col-12 p-0 ">
                  <img src="images/bg-index.jpg" class="img-fluid rounded-5 home-image"  alt="">
            </div>
            <div class=" mar-top col-6 p-3 rounded-5 text-center ">
                 <h1>Welcome To Our Blog Website We Hope you Have Fun</h1>
                 <p>Welcome to our blog! We're excited to have you here. Our goal is to provide
                     a fun and engaging platform where you can explore a variety of topics, interact with others, 
                    and share your own thoughts and experiences. Let's embark on this journey together!</p>
                 <h2>You Will be able to See other posts on the blog</h2>
                 <p>
                    Discover a world of content on our blog! From insightful 
                    articles to captivating stories, there's something for everyone. 
                    Join our community and explore the diverse perspectives shared by 
                    fellow members. Dive in and start exploring today!
                 </p>
                 <h2>You will be able to post your own posts</h2>
                 <p>
                    Share your voice with our community! With our user-friendly platform, 
                    you can easily publish your own posts and contribute
                     to our growing collection of content. 
                    Whether it's a personal anecdote, a passion project, or expert advice, 
                    your ideas are welcome here. Start sharing your creativity today!
                 </p>
                 <h2>You will be able to update or delete your posts</h2>
                 <p>
                    Take control of your content! Our platform allows you to update or
                     delete your posts with ease. Whether you need to make edits or remove outdated content, 
                    we've got you covered. Your voice matters, and we're here to support you every step of the way.
                 </p>
                 <form action="/login" method="post">
                 <button type="submit" class="btn btn-secondary btn-lg">Get Started</button>
                </form>
            </div>
        </div>
        
     </div>  

            
    <script src="/js/bootstrap/bootstrap.min.js"></script>
</body>
</html>
