<%- include("partials/header-A-login.ejs") %>

<body class="body-post">
    <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="container mt-5 ">
        <h1 class="mb-4">Update Your Post</h1>
        <form action="/update-post" method="POST">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="<%= postt.title %>" required>
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content" rows="6" required><%= postt.content %></textarea>
          </div>
          <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="btn btn-secondary">Update Post</button>
          </div>
        </form>
      </div>
    </div>
  <script src="/js/bootstrap/bootstrap.min.js"></script>
</body>
</html>